
  .movie-img {
    margin-top: -70px;
  }
  .form-col {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 19px #0000000d;
    border-radius: 5px;
    max-width: 960px;
    margin: 0px auto;
    h2 {
        font-family: 'Bitter';
        font-weight: bold;
        font-size: 38px;
        color: #777777;
        span {
            color: #FF4436;
        }
    }
    label, input {
        font-family: 'Raleway';
        font-size: 16px;
        color: #777777;
    }
    label {
        font-weight: bold;
    }
    input {
        font-weight: 500;
    }
  }
  .btn-row {
      max-width: 960px;
      margin: 0px auto;
  }
  