.navbar {
    height: 85px;
    background: #222222 0% 0% no-repeat padding-box !important;
    box-shadow: 0 3px 19px #00000041;
    .nav-link {
        color: white !important;
        text-transform: uppercase;
    }
}

.btn-flix-navbar {
    border-color: #ff4436;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    margin: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Raleway';
}

.btn-flix-navbar:hover,
.btn-flix-navbar:not(:disabled):not(.disabled):active {
    border-width: 3px;
    background: transparent !important;
    border-color: #ff4436;

}

.text-flix-red {
    color: #ff4436;
}

.vl-red:after {
    content: '|';
    color: #ff4436;
    height: 20px;
}