<div *ngIf="review" class="row">
    <div class="col-12 d-inline-flex">
        <div class="flex">
            <app-input-star-rating [rating]="review.rating" [starcount]="5" [padding]="0" [size]="24"></app-input-star-rating>
        </div>
        <div class="flex ml-2">
            <p class="review-author mt-2">by {{review.user_nickname}}<span class="ml-2">{{review.updated_at | timeAgo}}</span></p>
        </div>
    </div>
    <div class="col-12">
        <p class="review-body">{{review.body}}</p>
    </div>
</div>
